source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget FSharp.Core = 4.2.3
nuget OpenAPIParser
nuget Newtonsoft.Json

github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

// tests
nuget NUnit
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk

nuget OpenAPITypeProvider 0.0.1-alpha

group Build
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Target
    nuget Fake.IO.FileSystem
    nuget GitVersion.CommandLine
    nuget Fake.Tools.GitVersion
    nuget Fake.DotNet.Testing.NUnit
    nuget Fake.Dotnet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes